<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Equipments</key>
	<dict>
		<key>Iron Pan</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>Oh! An Iron Pan. What a tool to
have in your repertoire</string>
				<key>Description</key>
				<string>Normal iron pan.
Simple, riable and easy to use.
Recommended for frying stuff.</string>
				<key>recipe1</key>
				<string>timsum</string>
				<key>recipe2</key>
				<string>friedPotato</string>
				<key>recipe3</key>
				<string>friedMushroom</string>
			</dict>
			<key>IngredientRequirements</key>
			<dict>
				<key>recipe_1</key>
				<dict>
					<key>ingredient_1</key>
					<string></string>
					<key>ingredient_2</key>
					<string></string>
					<key>ingredient_3</key>
					<string></string>
					<key>ingredient_4</key>
					<string></string>
					<key>quantity_1</key>
					<integer>1</integer>
					<key>quantity_2</key>
					<integer>2</integer>
					<key>quantity_3</key>
					<integer>2</integer>
					<key>quantity_4</key>
					<integer>4</integer>
					<key>coin</key>
					<integer>10</integer>
				</dict>
				<key>recipe_2</key>
				<dict>
					<key>ingredient_1</key>
					<string></string>
					<key>ingredient_2</key>
					<string></string>
					<key>ingredient_3</key>
					<string></string>
					<key>ingredient_4</key>
					<string></string>
					<key>quantity_1</key>
					<integer>1</integer>
					<key>quantity_2</key>
					<integer>444</integer>
					<key>quantity_3</key>
					<integer>2</integer>
					<key>quantity_4</key>
					<integer>4</integer>
					<key>coin</key>
					<integer>10</integer>
				</dict>
				<key>recipe_3</key>
				<dict>
					<key>ingredient_1</key>
					<string></string>
					<key>ingredient_2</key>
					<string></string>
					<key>ingredient_3</key>
					<string></string>
					<key>ingredient_4</key>
					<string></string>
					<key>quantity_1</key>
					<integer>222</integer>
					<key>quantity_2</key>
					<integer>2</integer>
					<key>quantity_3</key>
					<integer>2</integer>
					<key>quantity_4</key>
					<integer>4</integer>
					<key>coin</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>CoinRequirement</key>
				<integer>15</integer>
				<key>item0</key>
				<integer>10</integer>
				<key>item1</key>
				<integer>20</integer>
				<key>item2</key>
				<integer>30</integer>
				<key>item3</key>
				<integer>40</integer>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Stone Slab</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>   Ok..We admit that this is
   not supposed to be in a kitchen.
   but hey I know you can make use
                of it somehow.</string>
				<key>Description</key>
				<string>Back to nature. Having your
meal with style. Stone Slab,
a nice food plate.</string>
				<key>recipe1</key>
				<string>Cheese Burger</string>
				<key>recipe2</key>
				<string>Barbecue</string>
				<key>recipe3</key>
				<string>Fruits</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Bento</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string> Are you feeling going outside?
 In that case, Better cook some
 nice meal. and take it with you.</string>
				<key>Description</key>
				<string> A Japanese foodware.
Be creative and arrange your
bento of your ideal.</string>
				<key>recipe1</key>
				<string>tempuraBento</string>
				<key>recipe2</key>
				<string>ricePickleBento</string>
				<key>recipe3</key>
				<string>onigiriBento</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>White Bowl</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>    Let&apos;s talk about dessert!
    What do you want to have after
    having a nice meal.</string>
				<key>Description</key>
				<string>Nabe bowl. Great for party with pet friends.</string>
				<key>recipe1</key>
				<string>Green Tea</string>
				<key>recipe2</key>
				<string>Matcha Ice Cream</string>
				<key>recipe3</key>
				<string>Anmitsu</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Blue Bowl</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>    Let&apos;s talk about dessert!
    What do you want to have after
    having a nice meal.</string>
				<key>Description</key>
				<string>Nabe bowl. Great for party with pet friends.</string>
				<key>recipe1</key>
				<string>Bibimbap</string>
				<key>recipe2</key>
				<string>Snow Cone</string>
				<key>recipe3</key>
				<string>Matcha Soft Cream</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Nabe Pot</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>    Let&apos;s talk about dessert!
    What do you want to have after
    having a nice meal.</string>
				<key>Description</key>
				<string>Nabe bowl. Great for party with pet friends.</string>
				<key>recipe1</key>
				<string>salmonNabe</string>
				<key>recipe2</key>
				<string>gimjiNabe</string>
				<key>recipe3</key>
				<string>recipe3</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Yellow Mug</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>    Let&apos;s talk about dessert!
    What do you want to have after
    having a nice meal.</string>
				<key>Description</key>
				<string>Nabe bowl. Great for party with pet friends.</string>
				<key>recipe1</key>
				<string>Soft Cream</string>
				<key>recipe2</key>
				<string>Lemonade</string>
				<key>recipe3</key>
				<string>Black Coffee</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Tamagoyaki Pan</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>IntroductoryDialogue</key>
				<string>    Let&apos;s talk about dessert!
    What do you want to have after
    having a nice meal.</string>
				<key>Description</key>
				<string>Nabe bowl. Great for party with pet friends.</string>
				<key>recipe1</key>
				<string>salmonNabe</string>
				<key>recipe2</key>
				<string>gimjiNabe</string>
				<key>recipe3</key>
				<string>recipe3</string>
			</dict>
            <key>IngredientRequirements</key>
            <dict>
                <key>recipe_1</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_2</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>1</integer>
                    <key>quantity_2</key>
                    <integer>444</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
                <key>recipe_3</key>
                <dict>
                    <key>ingredient_1</key>
                    <string></string>
                    <key>ingredient_2</key>
                    <string></string>
                    <key>ingredient_3</key>
                    <string></string>
                    <key>ingredient_4</key>
                    <string></string>
                    <key>quantity_1</key>
                    <integer>222</integer>
                    <key>quantity_2</key>
                    <integer>2</integer>
                    <key>quantity_3</key>
                    <integer>2</integer>
                    <key>quantity_4</key>
                    <integer>4</integer>
                    <key>coin</key>
                    <integer>10</integer>
                </dict>
            </dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>SalmonNabe</key>
				<dict>
					<key>New item</key>
					<integer>0</integer>
					<key>New item - 4</key>
					<string></string>
					<key>New item - 3</key>
					<string></string>
					<key>New item - 2</key>
					<string></string>
				</dict>
				<key>GImjiNabe</key>
				<string></string>
				<key>recipe3</key>
				<string></string>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
