<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CornFlake</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake. 
Not that delicious.
    Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Apple</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Apple.
    Seriously, It &apos;s an apple.
      Eadible though...</string>
		<key>Description</key>
		<string>   A vibrant red fruit from
   a Malus domestica. Good
   to have for many recipes</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>10</string>
	</dict>
	<key>Carrot</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Carrot.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>   Orange, very orange, it is.
    Full with potential recipes.
    Or leave it uncooked also fine.</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>20</string>
	</dict>
	<key>Cheese</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cheese.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>   Oop, What&apos;s that SMELL!
    Can&apos;t believe something so smelly
    can be so delicious. </string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>300</string>
	</dict>
	<key>Egg</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>   Fresh from farm. High
    quality ingredient to have for
    preparing upcoming meal.</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>50</string>
	</dict>
	<key>Pumpkin</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>100</string>
	</dict>
	<key>Fish</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>400</string>
	</dict>
	<key>Pancake</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>1500</string>
	</dict>
	<key>Cabbage</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>45</string>
	</dict>
	<key>Potato</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>30</string>
	</dict>
	<key>PurplePotato</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>50</string>
	</dict>
	<key>YakiPurplePotato</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>200</string>
	</dict>
	<key>Lemon</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Daikon</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>UsagiApple</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Salmon</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Sandwich</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Tofu</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Mushroom</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Milk</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>cheeseCake</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Roll Bread</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Short Cake</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Butter</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Seasoning</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>Olive Oil</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
	<key>bb</key>
	<dict>
		<key>DialogueText</key>
		<string>  Just a Cornflake.
    Not that delicious.
        Eadible though...</string>
		<key>Description</key>
		<string>Simple Cornflake.
    People eat everyday</string>
		<key>RequiredIngredient_1</key>
		<string>None</string>
		<key>RequiredIngredient_2</key>
		<string>None</string>
		<key>RequiredIngredient_3</key>
		<string>None</string>
		<key>IngredientQuantity_1</key>
		<string>0</string>
		<key>IngredientQuantity_2</key>
		<string>0</string>
		<key>IngredientQuantity_3</key>
		<string>0</string>
		<key>CoinRequirement</key>
		<string>25</string>
	</dict>
</dict>
</plist>
