<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Equipments</key>
	<dict>
		<key>IronPan</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Description</key>
				<string>Normal iron pan.
Simple, riable and easy to use.
Recommended for frying stuff.</string>
				<key>recipe1</key>
				<string>recipe1</string>
				<key>recipe2</key>
				<string>recipe2</string>
				<key>recipe3</key>
				<string>recipe3</string>
			</dict>
			<key>IngredientRequirements</key>
			<dict>
				<key>item0</key>
				<string>Apple</string>
				<key>item1</key>
				<string>Orange</string>
				<key>item2</key>
				<string>Pear</string>
				<key>item3</key>
				<string>Banana</string>
			</dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>CoinRequirement</key>
				<integer>15</integer>
				<key>item0</key>
				<integer>10</integer>
				<key>item1</key>
				<integer>20</integer>
				<key>item2</key>
				<integer>30</integer>
				<key>item3</key>
				<integer>40</integer>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>BaseRock</key>
		<dict/>
		<key>Banto</key>
		<dict/>
		<key>WhiteBowl</key>
		<dict/>
		<key>Nabe</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Description</key>
				<string>Normal iron pan.
Simple, riable and easy to use.
Recommended for frying stuff.</string>
				<key>recipe1</key>
				<string>salmonNabe</string>
				<key>recipe2</key>
				<string>gimjiNabe</string>
				<key>recipe3</key>
				<string>recipe3</string>
			</dict>
			<key>IngredientRequirements</key>
			<dict>
				<key>item0</key>
				<string>Apple</string>
				<key>item1</key>
				<string>Orange</string>
				<key>item2</key>
				<string>Pear</string>
				<key>item3</key>
				<string>Banana</string>
			</dict>
			<key>QuantityRequirement</key>
			<dict>
				<key>CoinRequirement</key>
				<integer>15</integer>
				<key>item0</key>
				<integer>10</integer>
				<key>item1</key>
				<integer>20</integer>
				<key>item2</key>
				<integer>30</integer>
				<key>item3</key>
				<integer>40</integer>
			</dict>
			<key>RecipeInventory</key>
			<dict>
				<key>recipe1</key>
				<integer>0</integer>
				<key>recipe2</key>
				<integer>0</integer>
				<key>recipe3</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
